@charset "UTF-8";
/*Problèmes d'utilisation de mes variables*/
/*Quel est l'intérêt de la mixin dans mon code? Exemple bouton*/
@font-face {
  font-family: Roboto;
  src: url(Roboto-Regular.ttf);
}
@font-face {
  font-family: Shrikhand;
  src: url(Shrikhand-Regular.ttf);
}
body {
  font-family: "Roboto";
  margin: 0%;
}

img {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  display: flex;
  justify-content: center;
  padding-top: 8%;
  align-items: center;
  margin-top: 2%;
  font-size: 130%;
  flex-direction: column;
}

h2 {
  margin-bottom: 5%;
}

h3 {
  text-transform: uppercase;
  font-size: small;
  border-bottom: #99e2d0 solid 2px;
  width: 12%;
  padding-bottom: 2%;
  margin-left: 3%;
}

h4 {
  margin: 0%;
  font-size: initial;
  margin-top: 2%;
}

.footer--font {
  font-family: "Shrikhand";
  padding-bottom: 5%;
}

.footer--width-icon {
  width: 30px;
}

.footer--width-txt {
  width: 92%;
}

footer {
  background-color: #353535;
  color: white;
  padding: 7%;
}

footer div {
  padding-bottom: 2%;
}

.footer__icon {
  padding-bottom: 0%;
  display: flex;
}

.footer--link {
  text-decoration: none;
  color: white;
}

@media all and (min-width: 458px) {
  footer {
    padding: 30px;
  }
}
.main__shadow {
  width: 65%;
  height: 50px;
  justify-content: center;
  font-size: 90%;
  color: white;
  border-style: none;
  align-items: center;
  display: flex;
  box-shadow: #e9e6e6 6px 6px 6px;
  border-radius: 25px;
  background: radial-gradient(farthest-corner at 49px 1px, #f28be0 0%, #782cd3 100%);
}

section, .main--grey, .nav__box {
  background-color: #f6f6f6;
}

.main__border {
  border-top: #d3d3d3 2px solid;
  background-color: #eaeaea;
}

.nav__menu, .item__icon--dispo, .main__shadow--link, .nav__number, nav, .main__subtitle--style, .main--grey, .main__h1--style, .item--color, .main__h1, .item__screen, .item__icon, .nav__box, .main__border, .header__logo {
  display: flex;
}

.item, .section__item, .item__icon {
  background-color: white;
}

.section__item, .nav__box {
  box-shadow: #e9e6e6 6px 6px 6px;
}

.section__item, .nav__box, .nav__number {
  border-radius: 25px;
}

.header__logo {
  margin: 3%;
}

.header__logo, .main__h1, .nav__number, .item--color, .main__shadow--link {
  justify-content: center;
}

.main__border {
  padding-left: 26%;
  padding-top: 3%;
  padding-bottom: 4%;
}

.main__border--width-icon {
  width: 8%;
}

.main__border--width-txt, .main__border--link {
  width: 92%;
}

.main__h1, section {
  padding-top: 8%;
}

.main__h1--style, .main--grey, .main__subtitle--style, .nav__number, .nav__box, .nav__menu, .item--color {
  align-items: center;
}

.item__icon__heart, .main__h1--style {
  margin-top: 2%;
}

.main__h1--style, nav h2, section h2 {
  font-size: 130%;
}

.main__h1--style, .main__subtitle--style, .main--grey, nav, .item__icon--dispo {
  flex-direction: column;
}

.main__subtitle--style {
  font-size: 100%;
  margin-bottom: 8%;
}

.main--grey {
  padding-bottom: 15%;
  padding-left: 3%;
  padding-right: 3%;
}

.nav__number {
  width: 25px;
  height: 25px;
  position: absolute;
  left: 9%;
  color: white;
  background-color: #9356dc;
}

nav, .nav__box {
  margin-left: 2%;
}

.nav__box, .main__shadow--link, section img {
  width: 100%;
}

.nav__box, .item--color {
  font-weight: bold;
}

.nav__box {
  padding-left: 10%;
  height: 65px;
}

.nav__menu {
  width: 98%;
  height: 82px;
}

nav, section {
  padding: 7%;
}

nav h2 {
  width: 90%;
}

.nav__box--space-icon {
  width: 12%;
}

.main__border--link {
  color: black;
}

.nav__box--font, .item__icon h2 {
  font-size: 90%;
}

section {
  padding-bottom: 8%;
  margin-top: 10%;
}

section img {
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.item__img, section img {
  height: 150px;
}

.item--color {
  position: absolute;
  right: 12%;
  width: 15%;
  background-color: #99e2d0;
  margin-top: 3%;
  border-radius: 5px;
  color: #149374;
  font-size: 65%;
  padding: 1%;
}

.item__icon {
  border-radius: 0 0 20px 20px;
  height: 40px;
  box-shadow: #e9e6e6 0px 2px 6px 6px;
  padding: 5%;
}

.item {
  margin-bottom: 6%;
  border-radius: 25%;
}

.item__icon h2 {
  margin: 0;
}

.item__icon--size {
  font-size: 85%;
}

.item__icon--dispo {
  justify-content: space-between;
}

.item__icon__heart {
  position: absolute;
  left: 78%;
}

@media all and (min-width: 458px) {
  .main--grey {
    padding-bottom: 5%;
  }

  nav {
    padding-top: 2%;
  }

  section {
    margin-top: 0%;
  }

  nav, section {
    padding-bottom: 2%;
  }

  .item {
    width: 50%;
  }

  .main__subtitle--style {
    margin-bottom: 4%;
  }

  h1 {
    padding-top: 4%;
    margin-right: 7px;
    flex-direction: initial;
  }

  .main__h1--space {
    margin-right: 5px;
  }

  .item__img, section img {
    height: 210px;
  }

  .item {
    width: 100%;
  }

  .item--color {
    font-size: 85%;
  }

  .item__icon h2 {
    font-size: 110%;
  }

  .item__icon--size {
    font-size: 100%;
  }

  h2 {
    margin-bottom: 10%;
  }

  .item__icon {
    height: 60px;
    padding: 3%;
  }

  .item__icon--dispo {
    justify-content: space-around;
  }
}
.main__menu__img {
  height: 250px;
  object-fit: cover;
}

.main__title {
  align-items: center;
}

.section__price, .main__title {
  justify-content: space-between;
}

.main__title {
  font-family: "Shrikhand";
  padding: 5%;
  padding-top: 2%;
  border-radius: 25px 25px 0px 0px;
  position: absolute;
  top: 243px;
  width: 90%;
}

.main__title, .section__details, .section__menu {
  padding-bottom: 0%;
}

.main__title, .section__price, .section__bouton, .section__item {
  display: flex;
}

.section__bouton {
  justify-content: center;
}

.section__price {
  margin-bottom: 2%;
  margin-right: 5%;
}

.section__price--bold {
  font-weight: bold;
}

.main__shadow {
  box-shadow: #e9e6e6 6px 6px 6px;
}

.section__menu {
  padding-top: 1%;
}

.section__details, .section__menu {
  margin-top: 0%;
  padding-left: 2%;
  padding-right: 2%;
}

.main__menu, .main__title {
  background-color: #f6f6f6;
}

.section__item {
  height: 60px;
  border-radius: 15px;
  margin-bottom: 5%;
  padding-left: 3%;
  flex-direction: column;
  justify-content: space-evenly;
}

.section__details--margin {
  margin-bottom: 18%;
}

.section__bouton {
  padding-bottom: 20%;
}

@media all and (min-width: 426px) {
  .main__title {
    position: initial;
    padding-bottom: 0%;
  }

  .main__title, h3 {
    justify-content: center;
  }

  .main__title h2 {
    margin: 0%;
    margin-right: 2%;
  }

  .section__details--margin {
    margin-bottom: 0%;
  }

  .section__details, .section__details--margin {
    padding-top: 0%;
  }

  h3 {
    display: flex;
    width: 100%;
    margin-left: 0%;
  }

  .section__item {
    height: 90px;
    justify-content: space-between;
  }

  .section__details--margin, .section__menu--pading, .section__bouton {
    padding-bottom: 5%;
  }

  h4 {
    font-size: 20px;
  }

  .section__price {
    font-size: 18px;
  }
}
.header__icon {
  align-items: center;
  margin-top: 4%;
  margin-bottom: 4%;
}

.header__arrow {
  position: absolute;
  left: 5%;
}

.header__icon, .header__img-logo {
  display: flex;
}

.header__img-logo {
  width: 100%;
  justify-content: center;
}

.header__img-logo img {
  width: 55%;
  height: 100%;
}

.header__shadow {
  filter: brightness(1);
  box-shadow: 6px 6px 6px grey;
}

.header__shadow:hover {
  filter: brightness(2);
  box-shadow: 6px 6px 6px black;
  transition-duration: 3s;
}

.item__icon__heart {
  color: black;
}

.item__icon__heart:hover {
  color: orchid;
  transition-duration: 3s;
}

/*# sourceMappingURL=style.css.map */
