@font-face {
  font-family: Roboto;
  src: url(Roboto-Regular.ttf);
}
@font-face {
  font-family: Shrikhand;
  src: url(Shrikhand-Regular.ttf);
}
body {
  font-family: "Roboto";
  margin: 0%;
}

img {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  display: flex;
  justify-content: center;
  padding-top: 8%;
  align-items: center;
  margin-top: 2%;
  font-size: 130%;
  flex-direction: column;
}

h2 {
  margin-bottom: 5%;
}

h3 {
  text-transform: uppercase;
  font-size: small;
  border-bottom: #99e2d0 solid 2px;
  width: 12%;
  padding-bottom: 2%;
  margin-left: 3%;
}

h4 {
  margin: 0%;
  font-size: initial;
  margin-top: 2%;
}

.footer--font {
  font-family: "Shrikhand";
  padding-bottom: 5%;
}

.footer--width-icon {
  width: 30px;
}

.footer--width-txt {
  width: 92%;
}

footer {
  background-color: #353535;
  color: white;
  padding: 7%;
}

footer div {
  padding-bottom: 2%;
}

.footer__icon {
  padding-bottom: 0%;
  display: flex;
}

.footer--link {
  text-decoration: none;
  color: white;
}

@media all and (min-width: 426px) {
  footer {
    padding: 30px;
  }
}
section, .main--grey, .nav__box {
  background-color: #f6f6f6;
}

.main__border {
  border-top: #d3d3d3 2px solid;
  background-color: #eaeaea;
}

.main__border--larger {
  margin-right: 5%;
}

.nav__menu, .item__icon--dispo, .main__border--larger, .nav__number, nav, .main__subtitle--style, .main--grey, .main__h1--style, .item--color, .main__h1, .item__screen, .item__icon, .nav__box, .main__border, .header__logo {
  display: flex;
}

.item, .section__item, .item__icon {
  background-color: white;
}

.section__item, .nav__box {
  box-shadow: #e9e6e6 6px 6px 6px;
}

.section__item, .nav__box, .nav__number {
  border-radius: 25px;
}

.header__logo {
  margin: 3%;
}

.header__logo, .main__h1, .nav__number, .item--color {
  justify-content: center;
}

.main__border {
  justify-content: center;
  align-items: center;
  padding-top: 3%;
  padding-bottom: 4%;
}

.main__border--width-icon {
  margin-right: 8%;
}

.main__border--width-txt {
  font-size: 16px;
  border: none;
  width: 140px;
  background-color: #eaeaea;
}

.main__h1, section {
  padding-top: 8%;
}

.main__h1--space {
  margin-right: 6px;
}

.main__h1--style, .main--grey, .main__subtitle--style, .nav__number, .nav__box, .nav__menu, .item--color {
  align-items: center;
}

.item__icon__heart, .main__h1--style {
  margin-top: 2%;
}

.main__h1--style, nav h2, section h2 {
  font-size: 130%;
}

.main__h1--style, .main__subtitle--style, .main--grey, nav, .item__icon--dispo {
  flex-direction: column;
}

.main__subtitle--style {
  font-size: 100%;
  margin-bottom: 8%;
}

.main--grey {
  padding-bottom: 15%;
  padding-left: 3%;
  padding-right: 3%;
}

.nav__number {
  width: 25px;
  height: 25px;
  position: absolute;
  left: 9%;
  background-color: #9356DC;
}

.main__shadow--link, .nav__number {
  color: white;
}

nav, .nav__box {
  margin-left: 2%;
}

.nav__box, section img {
  width: 100%;
}

.nav__box, .item--color {
  font-weight: bold;
}

.nav__box {
  padding-left: 10%;
  height: 65px;
}

.nav__menu {
  width: 98%;
  height: 82px;
}

nav, section {
  padding: 7%;
}

nav h2 {
  width: 90%;
}

.nav__box--space-icon {
  width: 12%;
}

.main__border--link {
  color: black;
}

.nav__box--font, .item__icon h2 {
  font-size: 90%;
}

.nav__box:hover {
  background-color: #f5edff;
}
.nav__box:hover .nav__box--space-icon {
  color: #9356DC;
}

section {
  padding-bottom: 8%;
  margin-top: 10%;
}

section img {
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.item__img, section img {
  height: 150px;
}

.item--color {
  position: absolute;
  right: 12%;
  width: 15%;
  background-color: #99e2d0;
  margin-top: 3%;
  border-radius: 5px;
  color: #149374;
  font-size: 65%;
  padding: 1%;
}

.item__icon {
  border-radius: 0 0 20px 20px;
  height: 40px;
  box-shadow: #e9e6e6 0px 2px 6px 6px;
  padding: 5%;
  justify-content: space-between;
  align-items: center;
}

.item__icon .unchecked, .item__icon .checkbox-like input[type=checkbox]:checked ~ .checked {
  font-size: 20px;
}

.item {
  margin-bottom: 6%;
  border-radius: 25%;
}

.item__icon h2 {
  margin: 0;
}

.item__icon--size {
  font-size: 85%;
}

.item__icon--dispo {
  justify-content: space-between;
}

.item__icon__heart {
  position: absolute;
  left: 78%;
}

.full-heart {
  color: #9356DC;
}

.button__nul {
  background-color: white;
  border-style: none;
  display: flex;
  font-size: 16px;
  height: 25px;
}

.button__premium {
  width: 65%;
  height: 50px;
  justify-content: center;
  font-size: 90%;
  color: white;
  border-style: none;
  align-items: center;
  display: flex;
  box-shadow: #e9e6e6 6px 6px 6px;
  border-radius: 25px;
  background: radial-gradient(farthest-corner at 49px 1px, #f28be0 0%, #782cd3 100%);
}

@media all and (min-width: 426px) {
  .main--grey {
    padding-bottom: 5%;
  }

  nav {
    padding-top: 2%;
  }

  section {
    margin-top: 0%;
  }

  nav, section {
    padding-bottom: 2%;
  }

  .item {
    width: 50%;
  }

  .main__subtitle--style {
    margin-bottom: 4%;
  }

  h1 {
    padding-top: 4%;
    margin-right: 7px;
    flex-direction: initial;
  }

  .main__h1--space {
    margin-right: 5px;
  }

  .item__img, section img {
    height: 210px;
  }

  .item {
    width: 100%;
  }

  .item--color {
    font-size: 85%;
  }

  .item__icon h2 {
    font-size: 110%;
  }

  .item__icon--size {
    font-size: 100%;
  }

  h2 {
    margin-bottom: 10%;
  }

  .item__icon {
    height: 60px;
    padding: 3%;
  }

  .item__icon--dispo {
    justify-content: space-around;
  }
}
.main__menu__img {
  height: 250px;
  object-fit: cover;
}

.main__title, .section__order, .section__box, .button__heart-menu {
  align-items: center;
}

.section__price, .main__title {
  justify-content: space-between;
}

.main__title {
  font-family: "Shrikhand";
  padding: 5%;
  padding-top: 2%;
  border-radius: 25px 25px 0px 0px;
  position: absolute;
  top: 243px;
  width: 90%;
}

.main__title, .section__details, .section__menu {
  padding-bottom: 0%;
}

.main__title, .section__order, .section__box, .section__price, .section__bouton, .section__item {
  display: flex;
}

.section__bouton, .section__order, .section__box {
  justify-content: center;
}

.section__price {
  margin-bottom: 2%;
  margin-right: 5%;
}

.section__price--bold {
  font-weight: bold;
  margin-top: 30px;
}

.section__menu {
  padding-top: 1%;
}

.section__details, .section__menu {
  margin-top: 0%;
  padding-left: 2%;
  padding-right: 2%;
}

.main__menu, .main__title {
  background-color: #f6f6f6;
}

.section__item {
  height: 60px;
  border-radius: 15px;
  margin-bottom: 5%;
  padding-left: 3%;
  flex-direction: row;
}

h4 {
  line-height: 25px;
  width: 100%;
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
}

h4, .section__box {
  overflow: hidden;
}

h4 p {
  font-weight: initial;
  font-size: initial;
  padding-bottom: 5px;
}

span {
  font-weight: initial;
  font-size: initial;
  padding-bottom: 5px;
}

.section__details--margin {
  margin-bottom: 18%;
}

.section__bouton {
  padding-bottom: 20%;
}

.button--color, .section__order {
  color: white;
}

.button__icon__heart {
  left: 78%;
  margin-top: 25%;
}

.button__nul {
  background-color: white;
  border-style: none;
  display: flex;
  font-size: 16px;
  height: 25px;
}

.button__premium {
  width: 65%;
  height: 50px;
  justify-content: center;
  font-size: 90%;
  color: white;
  border-style: none;
  align-items: center;
  display: flex;
  box-shadow: #e9e6e6 6px 6px 6px;
  border-radius: 25px;
  background: radial-gradient(farthest-corner at 49px 1px, #f28be0 0%, #782cd3 100%);
}

.button__heart-menu {
  border: none;
  font-size: 22px;
  display: flex;
  height: 40px;
  background-color: #f6f6f6;
}

.section__order, .section__box {
  border-radius: 0 15px 15px 0;
}

.section__box {
  background-color: #99e2d0;
  width: 0%;
  height: 100%;
}

@media all and (min-width: 426px) {
  .main__title {
    position: initial;
    padding-bottom: 0%;
  }

  .main__title, h3 {
    justify-content: center;
  }

  .main__title h2 {
    margin: 0%;
    margin-right: 2%;
  }

  .section__details--margin {
    margin-bottom: 0%;
  }

  .section__details, .section__details--margin {
    padding-top: 0%;
  }

  h3 {
    display: flex;
    width: 100%;
    margin-left: 0%;
  }

  .section__item {
    height: 90px;
    flex-direction: row;
  }

  .section__details--margin, .section__menu--pading, .section__bouton {
    padding-bottom: 5%;
  }

  h4 {
    font-size: 20px;
    line-height: 30px;
    width: 100%;
  }

  h4 p {
    font-weight: initial;
    font-size: 18px;
    max-width: 360px;
  }

  span {
    font-weight: initial;
    font-size: 18px;
    max-width: 360px;
  }

  .section__price {
    font-size: 18px;
  }

  .section__price--bold {
    margin-top: 50px;
  }

  .section__order {
    font-size: xx-large;
  }
}
.header__icon {
  align-items: center;
  margin-top: 4%;
  margin-bottom: 4%;
}

.header__arrow {
  position: absolute;
  left: 5%;
  font-size: 22px;
}

.header__icon, .header__img-logo {
  display: flex;
}

.header__img-logo {
  width: 100%;
  justify-content: center;
}

.header__img-logo img {
  width: 45%;
  height: 100%;
}

.load-spinner {
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  max-width: 458px;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: black;
  z-index: 1000;
  animation: loadingOut 200ms 2s forwards;
}

@media screen and (min-width: 426px) {
  .load-spinner {
    max-width: none;
  }
}
.load-spinner div {
  animation: load-spinner 1.2s linear infinite;
}

.load-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background: linear-gradient(to top, yellow, #9356DC);
}

.load-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}

.load-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}

.load-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}

.load-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}

.load-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}

.load-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}

.load-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}

.load-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}

.load-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}

.load-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}

.load-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}

.load-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}

@keyframes load-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes loadingOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1000;
  }
}
@keyframes bright {
  0% {
    -webkit-filter: brightness(1);
    box-shadow: #e9e6e6 6px 6px 6px;
  }
  100% {
    -webkit-filter: brightness(1.2);
    box-shadow: #a09e9e 6px 6px 6px;
  }
}
@keyframes sides {
  0% {
    width: 0%;
  }
  100% {
    width: 30%;
  }
}
@keyframes like {
  0% {
    opacity: 0;
  }
  50% {
    background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
    background: -o-linear-gradient(top, #9356DC, #FF79DA);
    background: linear-gradient(to bottom, #9356DC, #FF79DA);
    -webkit-background-clip: text;
  }
  100% {
    background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
    background: -o-linear-gradient(top, #9356DC, #FF79DA);
    background: linear-gradient(to bottom, #9356DC, #FF79DA);
    -webkit-background-clip: text;
  }
}
@keyframes fill {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes steps {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.button__premium:hover {
  animation: bright 1s 0s ease-in-out forwards;
}

.checkbox-like input[type=checkbox], .checkbox-like .checked {
  display: none;
  -webkit-animation: like 2s;
  animation: like 2s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.checkbox-like input[type=checkbox], .checkbox-like .checked {
  display: none;
  -webkit-animation: like 2s;
  animation: like 2s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.checkbox-like input[type=checkbox]:checked ~ .checked {
  display: inline-block;
  color: rgba(255, 255, 255, 0);
  font-size: 25px;
  padding: 0;
}

.checkbox-like input[type=checkbox]:checked ~ .unchecked {
  display: none;
}

.unchecked {
  font-size: 25px;
  padding: 0;
}

.checked, .unchecked {
  cursor: pointer;
}

@media all and (min-width: 426px) {
  .unchecked:hover {
    animation: fill 0.3s ease-in-out;
    background: linear-gradient(to left, #9356DC, #b35cdc, #cf64dc, #e86edb, #FF79DA);
    background: -webkit-linear-gradient(to left, #9356DC, #b35cdc, #cf64dc, #e86edb, #FF79DA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
  }
}
.section__item:active .section__box {
  animation: sides 0.5s forwards;
}
.section__item:active .section__box .arrow-green {
  transform: rotate(360deg);
  transition: transform 0.5s;
}

@media all and (min-width: 426px) {
  .section__item:hover .section__box {
    animation: sides 0.5s forwards;
  }
  .section__item:hover .section__box .arrow-green {
    transform: rotate(360deg);
    transition: transform 0.5s;
  }
}
.section__menu {
  animation: steps 1s ease-in-out;
}

.section__details--time {
  animation: steps 2s ease-in-out;
}

.section__details--margin {
  animation: steps 3s ease-in-out;
}

/*# sourceMappingURL=style.css.map */
