@import "pattern/utils/variables.scss";
@import "pattern/utils/mixins.scss";
@import "pattern/base/base.scss";
@import "pattern/layout/footer.scss";
@import "pattern/pages/accueil.scss";
@import "pattern/pages/menus.scss";
@import "pattern/layout/header.scss";
@import "pattern/composants/loader.scss";
@import "pattern/utils/keyframes.scss";
@import "pattern/composants/bright.scss";


.section__order{
  color: $white;
  border-radius: 0 15px 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section__box{
  background-color: $mint;
  width : 0%;
  height: 100%;
  border-radius: 0 15px 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}



@media all and (min-width:426px)
{
    .section__order{
        font-size: xx-large;
    }
}


@keyframes width {
  0%{
    width : 0%;
  }
  100%{
    width : 30%;
  }
}

a:hover{
  .section__box{
    transform: width (30%);
    transition: width 1s;
  }
  .arrow-green{
    transform: rotate(360deg);
    transition: transform 1s;
  }
}




















.checkbox-like input[type=checkbox], .checkbox-like .checked {
  display: none;
  -webkit-animation: like 2s;
  animation: like 2s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  }

  .checkbox-like input[type=checkbox], .checkbox-like .checked {
  display: none;
  -webkit-animation: like 2s;
  animation: like 2s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  }

  .checkbox-like input[type=checkbox]:checked ~ .checked {
      display: inline-block;
      color: rgba(255, 255, 255, 0);
      font-size : 25px;
      padding: 0;
  }

  .checkbox-like input[type=checkbox]:checked ~ .unchecked {
    display: none;
}

  .unchecked{
    font-size: 25px;
    padding : 0;
  }

  @keyframes like{
      0% {
          opacity: 0;
      }
      50% {
          background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
          background: -o-linear-gradient(top, #9356DC, #FF79DA);
          background: linear-gradient(to bottom, #9356DC, #FF79DA);
          -webkit-background-clip: text;
      }
      100% {
          background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
          background: -o-linear-gradient(top, #9356DC, #FF79DA);
          background: linear-gradient(to bottom, #9356DC, #FF79DA);
          -webkit-background-clip: text;
      }
  }
  
  @media all and (min-width:426px){
    .unchecked {
      &:hover {
        animation: fill 0.3s ease-in-out;
        background:linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
        background:-webkit-linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
        -webkit-background-clip: text;
        -webkit-text-fill-color:transparent;
        font-weight: bold;
      }
    }
  }
  
  @keyframes fill {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.2;
    }
    100% {
      opacity: 1;
    }
  }


.section__menu{
  animation: steps 1s ease-in-out;
}
.section__details--time{
  animation: steps 2s ease-in-out;
}
.section__details--margin{
  animation: steps 3s ease-in-out;
}




  @keyframes steps{
    0%{
      opacity : 0;
    }
    100%{
      opacity: 1;
    }
  }
  
  
  
  
  
  
  
  