@import  'projet3/pattern/base/base.css';

@font-face { font-family: Roboto; src: url(Roboto-Regular.ttf),}
@font-face { font-family: RobotoBold; src: url(Roboto-Bold.ttf),}
@font-face { font-family: RobotoBlack; src: url(Roboto-Black.ttf),}

body{
    font-family: 'Roboto';
}

img{
    width: 30%;
    height: 30%;
}

footer{
    background-color: #353535;
    color: white;
}

section, .header--grey, .main__title, .item__icon, .nav__box{
    background-color: #f6f6f6;
}

.header__border{
    border-top : grey 2px solid;
    background-color: #eaeaea;
}

.nav__number{
    background-color: #9356dc;
    border-radius: 25px; /*Est-il possible de le faire en une fois?*/
}

.nav__menu, .item__screen, .footer__icon, .main__title, .item__icon, .header__icon, .section__price, .nav__box, .header__border{
    display: flex;
}

.item--color{
    background-color: #99e2d0;
}

h3{
    border-bottom: #99e2d0 solid 2px;
}

.item, .section__item{
    background-color: white;
}

.header__shadow, .main__shadow, .item, .section__item, .nav__box{
    box-shadow: grey 2px 2px 2px;
    border-radius: 25px; /*Est-il possible de le faire en une fois?*/
}