@import "pattern/utils/variables.scss";
@import "pattern/utils/mixins.scss";
@import "pattern/base/base.scss";
@import "pattern/layout/footer.scss";
@import "pattern/pages/accueil.scss";
@import "pattern/pages/menus.scss";
@import "pattern/layout/header.scss";

.header__shadow{
    filter :brightness(1);
    box-shadow: 6px 6px 6px grey;
}

.header__shadow:hover{
    filter: brightness(2);
    box-shadow: 6px 6px 6px black;
    transition-duration: 3s;
}

.item__icon__heart{
    color: black;
}

.item__icon__heart:hover{
    color: orchid;
    transition-duration: 3s;
}