@keyframes load-spinner {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
}

@keyframes loadingOut{
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        z-index: -1000;
    }
}