@keyframes load-spinner {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
}

@keyframes loadingOut{
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        z-index: -1000;
    }
}

@keyframes bright {
    0% {
    -webkit-filter : brightness(1);
    box-shadow: rgb(233, 230, 230) 6px 6px 6px;
    }
    100% {
    -webkit-filter : brightness(1.2);
    box-shadow: rgb(160, 158, 158) 6px 6px 6px;
    }
  }