.footer--font{
    font-family: 'Shrikhand';
    padding-bottom :5%;
}

.footer--width-icon{
    width : 30px;
}

.footer--width-txt{
    width: 92%;
}

footer{
    background-color: $footer--color;
    color: $white;
    padding : 7%;
}

footer div{
    padding-bottom: 2%;
}

.footer__icon{
    padding-bottom: 0%;
    display : flex;
}
.footer--link{
    text-decoration: none;
    color : $white;
}

@media all and (min-width:458px)
{
    footer{
        padding : 30px;
    }
}