.header__icon{
    align-items: center;
    margin-top: 4%;
    margin-bottom: 4%;
}

.header__arrow{
    position: absolute;
    left : 5%;
}

.header__icon, .header__img-logo{
    display: flex;
}

.header__img-logo{
    width: 100%;
    justify-content: center;
}

.header__img-logo img{
    width : 55%;
    height : 100%;
}