section, .header--grey, .nav__box{
    background-color: #f6f6f6;
}

.header__border{
    border-top : #d3d3d3 2px solid;
    background-color: #eaeaea;
}

.nav__menu, .item__icon--dispo, .header__shadow--link, .nav__number, nav, .header__subtitle--style, .header--grey, .header__h1--style, .item--color, .header__h1, .item__screen, .item__icon, .nav__box, .header__border, .header__logo{
    display: flex;
}

.item, .section__item, .item__icon{
    background-color: white;
}

.section__item, .nav__box{
    box-shadow: rgb(233, 230, 230) 6px 6px 6px;
}

.section__item, .nav__box, .nav__number{
    border-radius: 25px;
}

.header__logo{
    margin : 3%;
}

.header__logo, .header__h1, .nav__number, .item--color, .header__shadow--link{
    justify-content: center;
}

.header__border{
    padding-left : 26%;
    padding-top: 3%;
    padding-bottom: 4%;
}

.header__logo--size{
    width : 50%;
}

.header__border--width-icon{
    width: 8%;
}

.header__border--width-txt, .header__border--link{
    width: 92%;
}

.header__h1, section{
    padding-top: 8%;
}

.header__h1--style, .header--grey, .header__subtitle--style, .nav__number, .nav__box, .nav__menu, .item--color{
    align-items: center;
}

.item__icon__heart, .header__h1--style{
    margin-top: 2%;
}

.header__h1--style, nav h2, section h2{
    font-size: 130%;
}

.header__h1--style, .header__subtitle--style, .header--grey, nav, .item__icon--dispo{
    flex-direction: column;
}

.header__subtitle--style{
    font-size : 100%;
    margin-bottom : 8%;
}

.header--grey{
    padding-bottom: 15%;
    padding-left: 3%;
    padding-right: 3%;
}

.nav__number{
    width: 25px;
    height : 25px;
    position: absolute; left: 9%;
    color: white;
    background-color: #9356dc;
}

nav, .nav__box{
    margin-left: 2%;
}

.nav__box, .header__shadow--link, section img{
    width: 100%;
}

.nav__box, .item--color{
    font-weight: bold;
}

.nav__box{
    padding-left : 10%;
    height : 65px;
}

.nav__menu{
    width : 98%;
    height : 82px;
}

nav, section{
    padding : 7%;
}

nav h2{
    width : 90%;
}

.nav__box--space-icon{
    width : 12%;
}

.header__border--link{
    color : black;
}

.nav__box--font, .item__icon h2{
    font-size: 90%;
}

section{
    padding-bottom: 8%;
    margin-top: 10%;
}

section img{
    object-fit: cover;
    border-radius: 5% 5% 0 0;
}

.item__img, section img{
    height : 150px;
}

.item--color{
    position: absolute;
    right : 12%;
    width : 15%;
    background-color: #99e2d0;
    margin-top : 3%;
    border-radius: 5%;    
    color : #149374;
    font-size: 65%;
    padding : 1%;
}

.item__icon{
    border-radius: 0 0 5% 5%;
    height: 40px;
    box-shadow: #e9e6e6 0px 2px 6px 6px;
    padding: 5%;
}

.item{
    margin-bottom: 6%;
    border-radius: 25%;
}

.item__icon h2{
    margin : 0;
}

.item__icon--size{
    font-size: 85%;
}

.item__icon--dispo{
    justify-content: space-between;
}

.item__icon__heart{
    position: absolute;
    left : 78%;
}