    .main__menu__img{
    height: 250px;
    object-fit: cover;
    }

    .main__title, .section__order, .section__box, .button__heart-menu{
        align-items: center;
    }

    .section__price, .main__title{
        justify-content: space-between;
    }

    .main__title{
        font-family: 'Shrikhand';
        padding : 5%;
        padding-top : 2%;
        border-radius : 25px 25px 0px 0px;
        position: absolute;
        top : 243px;
        width: 90%;
    }

    .main__title, .section__details, .section__menu{
        padding-bottom: 0%;
    }
    
    .main__title, .section__order, .section__box, .section__price, .section__bouton, .section__item{
        display: flex;
    }

    .section__bouton, .section__order, .section__box{
        justify-content: center;
    }
    
    .section__price{
        margin-bottom: 2%;
        margin-right: 5%;
    }
    
    .section__price--bold{
        font-weight: bold;
        margin-top : 30px;
    }

    .section__menu{
        padding-top: 1%;
    }

    .section__details, .section__menu{
        margin-top: 0%;
        padding-left: 2%;
        padding-right: 2%;
    }
    
    .main__menu, .main__title{
        background-color: $grey;
    } 
    
    .section__item{
        height : 60px;
        border-radius: 15px;
        margin-bottom: 5%;
        padding-left: 3%;
        flex-direction: row;
    }

    h4{
        line-height : 25px;
        width : 100%;
        max-width : 100%;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    h4, .section__box{
        overflow: hidden;
    }

    h4 p{
        font-weight: initial;
        font-size: initial;
        padding-bottom : 5px;
    }

    span{
        font-weight: initial;
        font-size: initial;
        padding-bottom : 5px;
    }
    
    .section__details--margin{
        margin-bottom: 18%;
    }
    
    .section__bouton{
        padding-bottom:20%;
    }

    .button--color, .section__order{
        color : $white;
    }

    .button__icon__heart{
        left : 78%;
        margin-top : 25%;
    }

    .button__nul{
        @include button__nul;
    }

    .button__premium{
        @include button__premium;
    }

    .button__heart-menu{
        @include button__heart-menu;
    }

    .section__order, .section__box{
        border-radius: 0 15px 15px 0;
      }

      .section__box{
        background-color: $mint;
        width : 0%;
        height: 100%;
      }




    
    
    









    @media all and (min-width:426px)
{
    .main__title{
        position: initial;
        padding-bottom: 0%;
    }
    .main__title, h3{
        justify-content: center;
    }
    .main__title h2{
        margin: 0%;
        margin-right: 2%;
    }
    .section__details--margin{
        margin-bottom: 0%;
    }
    .section__details, .section__details--margin{
        padding-top: 0%;
    }
    h3{
        display: flex;
        width: 100%;
        margin-left: 0%;
    }
    .section__item{
        height: 90px;
        flex-direction: row;
    }
    .section__details--margin, .section__menu--pading, .section__bouton{
        padding-bottom: 5%;
    }
    h4{
        font-size: 20px;
        line-height : 30px;
        width : 100%;
    }
    h4 p{
        font-weight: initial;
        font-size: 18px;
        max-width : 360px;
    }
    span{
        font-weight: initial;
        font-size: 18px;
        max-width : 360px;
    }
    .section__price{
        font-size: 18px;
    }

    .section__price--bold{
        margin-top : 50px;
    }

    .section__order{
        font-size: xx-large;
    }
}