    .header-menu__img{
    height: 250px;
    object-fit: cover;
    }
    
    h3{
        text-transform: uppercase;
    }

    .section__price, h3{
        font-size:small;
    }
    
    .header__icon, .main__title{
        align-items: center;
    }

    .section__price, .main__title{
        justify-content: space-between;
    }

    .main__title{
        font-family: 'Shrikhand';
        padding : 5%;
        padding-top : 2%;
        border-radius : 25px 25px 0px 0px;
        position: absolute;
        top : 243px;
        width: 90%;
    }

    .main__title, .section__details, .section__menu{
        padding-bottom: 0%;
    }
    
    .main__title, .header__icon, .section__price, .header-menu__logo, .section__bouton, .section__item{
        display: flex;
    }
    
    .header__icon{
        margin-top: 4%;
        margin-bottom: 4%;
    }
    
    .header-menu__logo img{
        width : 55%;
        height : 100%;
    }
    
    .header-menu__logo{
        width : 100%;
    }

    .section__bouton, .header-menu__logo{
        justify-content: center;
    }
    
    .header-menu__arrow{
        position: absolute;
        left : 5%;
    }
    
    h3{
        border-bottom: #99e2d0 solid 2px;
        width: 12%;
        padding-bottom: 2%;
        margin-left: 3%;
    }
    
    h4{
        margin : 0%;
        font-size: initial;
        margin-top: 2%;
    }
    
    .section__price{
        margin-bottom: 2%;
        margin-right: 5%;
    }
    
    .section__price--bold{
        font-weight: bold;
    }
    
    .main__shadow{
        box-shadow: rgb(233, 230, 230) 6px 6px 6px;
    }

    .section__menu{
        padding-top: 1%;
    }

    .section__details, .section__menu{
        margin-top: 0%;
        padding-left: 2%;
        padding-right: 2%;
    }
    
    .main__menu, .main__title{
        background-color: #f6f6f6;
    }
    
    .section__item{
        height : 60px;
        border-radius: 15px;
        margin-bottom: 5%;
        padding-left: 3%;
        flex-direction: column;
        justify-content: space-evenly;
    }
    
    .section__details--margin{
        margin-bottom: 18%;
    }
    
    .section__bouton{
        padding-bottom:20%;
    }

    @media all and (min-width:426px)
{
    .main__title{
        position: initial;
        padding-bottom: 0%;
        justify-content: center;
    }
    .main__title h2{
        margin-right: 5%;
    }
    .section__details--margin{
        margin-bottom: 5%;
    }
    .section__bouton{
        padding-bottom: 5%;
    }
    .section__details, .section__details--margin{
        padding-top: 0%;
    }
}