    .main__menu__img{
    height: 250px;
    object-fit: cover;
    }

    .main__title{
        align-items: center;
    }

    .section__price, .main__title{
        justify-content: space-between;
    }

    .main__title{
        font-family: 'Shrikhand';
        padding : 5%;
        padding-top : 2%;
        border-radius : 25px 25px 0px 0px;
        position: absolute;
        top : 243px;
        width: 90%;
    }

    .main__title, .section__details, .section__menu{
        padding-bottom: 0%;
    }
    
    .main__title, .section__price, .section__bouton, .section__item{
        display: flex;
    }

    .section__bouton{
        justify-content: center;
    }
    
    .section__price{
        margin-bottom: 2%;
        margin-right: 5%;
    }
    
    .section__price--bold{
        font-weight: bold;
    }
    
    .main__shadow{
        box-shadow: rgb(233, 230, 230) 6px 6px 6px;
    }

    .section__menu{
        padding-top: 1%;
    }

    .section__details, .section__menu{
        margin-top: 0%;
        padding-left: 2%;
        padding-right: 2%;
    }
    
    .main__menu, .main__title{
        background-color: #f6f6f6;
    }
    
    .section__item{
        height : 60px;
        border-radius: 15px;
        margin-bottom: 5%;
        padding-left: 3%;
        flex-direction: column;
        justify-content: space-evenly;
    }
    
    .section__details--margin{
        margin-bottom: 18%;
    }
    
    .section__bouton{
        padding-bottom:20%;
    }

    @media all and (min-width:426px)
{
    .main__title{
        position: initial;
        padding-bottom: 0%;
    }
    .main__title, h3{
        justify-content: center;
    }
    .main__title h2{
        margin: 0%;
        margin-right: 2%;
    }
    .section__details--margin{
        margin-bottom: 0%;
    }
    .section__details, .section__details--margin{
        padding-top: 0%;
    }
    h3{
        display: flex;
        width: 100%;
        margin-left: 0%;
    }
    .section__item{
        height: 90px;
        justify-content: space-between;
    }
    .section__details--margin, .section__menu--pading, .section__bouton{
        padding-bottom: 5%;
    }
    h4{
        font-size: 20px;
    }
    .section__price{
        font-size: 18px;
    }
}